* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(26, 26, 26, 0.823);
}

nav {
    width: 100%;
    padding: 20px 40px;
    background: rgba(150, 143, 143, 0.83);
    border-bottom: 1px solid rgba(190, 157, 157, 0.138);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: lightblue;
    letter-spacing: 1px;
    font-style: italic;
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: rgb(168, 206, 189);
    text-shadow: 0 0 10px rgb(132, 132, 168);
    text-decoration: underline;
}
.btn {
    padding: 0.6rem 1.3rem;
    font-weight: 700;
    font-size: 1rem;
    background: rgb(12, 13, 13);
    color: rgb(227, 216, 216);
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.5s;

}

.btn:hover {
    background: rgba(231, 237, 238, 0.936);
    color: rgb(28, 27, 27);
    box-shadow: outset 1px 0px 5px gray;
}